*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    text-decoration: underline;

}

#logo{
    height: 85px;
}

btn btn-success{
    --bs-btn-color: #f2a365;
}
#body{
    margin: 0;
    padding: 0;
    background-color:#222222;
    height: 100vh;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver
    
}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f2a365;
}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: #f2a365;    
}

.username input:focus  ~ span::before,
.username input:valid  ~ span::before{
    width: 100%;
}

form .contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contraseña label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.contraseña span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
}

.contraseña input:focus ~ label,
.contraseña input:valid ~ label{
    top: -10px;
    color: #f2a365;    
}

.contraseña input:focus  ~ span::before,
.contraseña input:valid  ~ span::before{
    top: -10px;
    width: 100%;
}

.icon{
    position: absolute;
    height: 60%;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    opacity: 0.3;
    cursor: pointer ;
}

.icon:hover{
    opacity: 0.8;
}

.recordar{
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: none;
}



.btn-primary {
    margin: 0 auto;
    background-color: #f2a365 !important;
    border-color: #f2a365 !important;
    display: flex !important;
}

  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: black;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: none;
}
